<script src="https://kit.fontawesome.com/edd69e9b57.js" crossorigin="anonymous"></script>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <i class="fab fa-tencent-weibo fa-3x"></i>    
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="http://localhost:3000/shops">
                    Ramen Shops
                </a>

                <a class="navbar-item" href="http://localhost:3000/shop_reviews">
                    My Reviews
                </a>

                <a class="navbar-item" href="http://localhost:3000/recommendations">
                    My Recommendations
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div>
                        <a class="navbar-item">
                            Back To User
                        </a>
                    </div>

                    <div class="buttons">
                        <a class="button is-primary" href="http://localhost:3000/login">
                            <strong>Log Out</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<h1 class= "label" style="text-align: center; background-color: #011F2E; color: #fff;">
    <strong style="color: #fff;">
        Shops
    </strong>
</h1>


<%= form_tag "/shops", method: :get do %>
    <div class="panel-block">
        <%= select_tag "Search by", options_for_select([["location", "location"],["name", "name"]]), class: "label", style:"color:black;"%>
        <p class="control has-icons-left">
            <%= text_field_tag :search_term, nil, class: "input" %>
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
    </div>
<% end %>


<% if @shops %>
    <div class="container" style="display: flex; justify-content: center">
        <table class="table">
            <thead>
                <tr class="is-selected">
                    <th class="row">
                        Average Rating
                    </th>

                    <th class="row">
                        Name
                    </th>

                    <th class="row">
                        Location
                    </th>

                    <th class="row">
                        Address
                    </th>

                    <th class="row" colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @shops.each do |shop| %>
                    <tr>
                        <td class="row-content">
                            <h1>
                                <%= shop.avg_rating %>
                            </h1>
                        </td>

                        <td class="row-content">
                            <h1>
                                <%= shop.name %>
                            </h1>
                        </td>

                        <td class="row-content">
                            <h1>
                                <%= shop.location %>
                            </h1>
                        </td>

                        <td class="row-content">
                            <h1>
                                <%= shop.address %>
                            </h1>
                        </td>

                        <td class="row-content">
                            <h1>
                                <%= link_to 'Show', shop %>
                            </h1>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <div class="container" style="display: flex; justify-content: center">
        <h2>
            Shop could not be found!
        </h2>
        <%= link_to 'Back to Shops', shops_path %>
    </div>
<% end %>

<br>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>
                <%= link_to 'New Shop', new_shop_path %> |
                <%= link_to 'Back to User', user_path(@current_user) %>
            </strong>
        </p>
    </div>
</footer>
